tarefa05/imobiliaria.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:i="http://imobiliaria.org"
        targetNamespace="http://imobiliaria.org"
        elementFormDefault="qualified">

    <element name="imobiliaria" type="i:imobiliaria_type"/>
    <element name="imovel" type="i:imovel_type"/>
    <element name="descricao" type="string"/>
    <element name="nome" type="string"/>
    <element name="email" type="string"/>
    <element name="telefone" type="string"/>
    <element name="rua" type="string"/>
    <element name="bairro" type="string"/>
    <element name="cidade" type="string"/>
    <element name="numero" type="integer"/>
    <element name="tamanho" type="decimal"/>
    <element name="numQuartos" type="integer"/>
    <element name="numBanheiros" type="integer"/>
    <element name="valor" type="decimal"/>
    <element name="proprietario" type="i:proprietario_type"/>
    <element name="endereco" type="i:endereco_type"/>
    <element name="caracteristicas" type="i:caracteristicas_type"/>

    <complexType name="imobiliaria_type">
        <sequence>
            <element ref="i:imovel" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="imovel_type">
        <sequence>
            <element ref="i:descricao"/>
            <element ref="i:proprietario"/>
            <element ref="i:endereco"/>
            <element ref="i:caracteristicas"/>
            <element ref="i:valor"/>
        </sequence>
    </complexType>

    <complexType name="proprietario_type">
        <sequence>
            <element ref="i:nome"/>
            <choice minOccurs="0" maxOccurs="unbounded">
                <element ref="i:email"/>
                <element ref="i:telefone"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="endereco_type">
        <sequence>
            <element ref="i:rua"/>
            <element ref="i:bairro"/>
            <element ref="i:cidade"/>
            <element ref="i:numero" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="caracteristicas_type">
        <sequence>
            <element ref="i:tamanho"/>
            <element ref="i:numQuartos"/>
            <element ref="i:numBanheiros"/>
        </sequence>
    </complexType>

</schema>