tarefa04/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:c="http://cardapio.org"
        targetNamespace="http://cardapio.org"
        elementFormDefault="qualified">

    <element name="cardapio" type="c:cardapio_type"/>
    <element name="prato" type="c:prato_type"/>
    <element name="nome" type="string"/>
    <element name="descricao" type="string"/>
    <element name="ingredientes" type="c:ingredientes_type"/>
    <element name="ingrediente" type="string"/>
    <element name="preco" type="decimal"/>
    <element name="calorias" type="integer"/>
    <element name="tempoPreparo" type="string"/>

    <complexType name="cardapio_type">
        <sequence>
            <element ref="c:prato" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="prato_type">
        <sequence>
            <element ref="c:nome"/>
            <element ref="c:descricao"/>
            <element ref="c:ingredientes"/>
            <element ref="c:preco"/>
            <element ref="c:calorias"/>
            <element ref="c:tempoPreparo"/>
        </sequence>

        <attribute name="id" type="positiveInteger" use="required"/>
    </complexType>

    <complexType name="ingredientes_type">
        <sequence>
            <element ref="c:ingrediente" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>