tarefa06/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:q="http://quiz.org"
        targetNamespace="http://quiz.org"
        elementFormDefault="qualified">

    <element name="quiz" type="q:quiz_type"/>
    <element name="professor" type="q:professor_type"/>
    <element name="questoes" type="q:questoes_type"/>
    <element name="questao" type="q:questao_type"/>
    <element name="alternativas" type="q:alternativas_type"/>
    <element name="alternativa" type="q:alternativa_type"/>
    <element name="disciplina" type="string"/>
    <element name="nome" type="string"/>
    <element name="matricula" type="string"/>
    <element name="turma" type="string"/>
    <element name="data" type="string"/>
    <element name="enunciado" type="string"/>
    <element name="pontuacao" type="string"/>
    <complexType name="quiz_type">
        <sequence>
            <element ref="q:disciplina"/>
            <element ref="q:professor"/>
            <element ref="q:turma"/>
            <element ref="q:data"/>
            <element ref="q:questoes"/>
        </sequence>

        <attribute name="versao" type="string" use="required"/>
    </complexType>

    <complexType name="professor_type">
        <sequence>
            <element ref="q:nome"/>
            <element ref="q:matricula" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="questoes_type">
        <sequence>
            <element ref="q:questao" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="questao_type">
        <sequence>
            <element ref="q:enunciado"/>
            <element ref="q:pontuacao"/>
            <element ref="q:alternativas"/>
        </sequence>
    </complexType>

    <complexType name="alternativas_type">
        <sequence>
            <element ref="q:alternativa" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="alternativa_type">
        <simpleContent>
            <extension base="string">
                <attribute name="correta" use="required">
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="sim"/>
                            <enumeration value="nao"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>
</schema>